body{
font-family:Arial;
margin:0;
background:#f2f5fa;
}

header{
background:#0d47a1;
color:white;
text-align:center;
padding:20px;
border-bottom:4px solid #d4af37;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

input,button{
width:100%;
padding:12px;
margin:6px 0;
border-radius:8px;
border:1px solid #ccc;
}

button{
background:#0d47a1;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#1565c0;
}

.hidden{display:none;}

.cal-header{
display:flex;
justify-content:space-between;
align-items:center;
}

#calendario{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:6px;
margin-top:10px;
}

.dia{
background:#eef3ff;
padding:15px;
text-align:center;
border-radius:8px;
cursor:pointer;
}

.comEscala{
background:#0d47a1;
color:white;
}

#detalhesDia{
margin-top:20px;
padding:10px;
background:#f8f9ff;
border-radius:10px;
}

.itemEscala{
padding:8px;
margin:5px 0;
background:white;
border-left:4px solid #d4af37;
}
